body {}
.toolbar {
   width: 100%;
   // background-color: #e6e6e6;
}
nav.toolbar__navigation {
  height: auto;
  background-color: #dc3545;

  .navbar-brand {
     display: inline-flex;
     img {
         max-width: 55px;
         height: auto;
         vertical-align: bottom;
      }
   }
}
nav.toolbar__navigation {
   -webkit-transition: opacity 0.3s ease;
   transition: opacity 0.3s ease;
}
nav.toolbar__navigation.transparent {
  height: 60px;
  opacity: 0.8;

  .navbar-brand {
     img {
       max-width: 35px;
      height: auto;
      vertical-align: bottom;
     }
     span {
       font-size: 1.62rem;
     }
   }
}
