.sidebar {
     background-color: transparent;
     padding-left: 20px;

     aside {
       margin: 5px 0;
       padding: 10px;
       border: none;
       background-color: #f6f6f6;
     }
     aside.recommendations {}
     aside.summary {}

     @media (min-width: 768px) {
        aside{
          margin: 10px;
          padding: 10px;
          border: 2px dotted #ee0000;
          background-color: #ffffff;
        }
      }
   }
   @media (min-width: 768px) {
      .sidebar {
         padding-left: 10px;
      }
   }
